html {
	overflow-x: hidden;
}

body {
	padding: 30px;
	padding-top: 0px;

	overflow-x: hidden;
}

header {
	margin-top: -25px;
	display: flex;
	width: 100%;
}

#headerTitle {
	font-family: filson-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	width: 50%;
}

nav {
	width: 50%;
	display: inline-block;
  	vertical-align: middle;
}

nav li {
 	display: inline-block;
  	vertical-align: middle;
}

nav ul {
  	height: 6em;
  	display: flex;
  	justify-content: flex-end;
  	align-items: center;
	vertical-align: top;
}

nav a {
	font-family: filson-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	background-color: white;
	color: black;
  	display: block;
	text-decoration: none;
	margin-left: 50px;
	margin-right: 5px;
	transition: all 0.3s ease-in-out 0s;
}

nav a:hover {
	cursor: pointer;
	border-bottom: 5px solid #FCC056;
}

.menuNav {
	width: 50%;
	display: none;
  	vertical-align: middle;
}

.menuNav li {
 	font-family: filson-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	background-color: white;
	color: black;
  	display: block;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 50px;
	margin-right: 5px;
	transition: all 0.3s ease-in-out 0s;
}

.menuNav ul {
  	height: 6em;
  	display: flex;
  	justify-content: flex-end;
  	align-items: center;
	vertical-align: top;
}

.menuNav li:hover {
	cursor: pointer;
	border-bottom: 5px solid #FCC056;
}

.sidenav {
  	height: 100%;
  	width: 0; 
  	position: fixed; 
  	z-index: 1; 
  	top: 0; 
  	right: 0;
  	background-color: white;
  	overflow-x: hidden; 
  	padding-top: 60px; 
  	transition: 0.5s; 
}

.sidenav a {
	align-content: center;
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	color: black;
  	display: block;
	font-family: filson-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 10vw;
	text-align: left;
	margin-left: 20px;
	transition: all 0.3s linear;
}

.sidenav a:hover {
 	color: #FCC056;
	cursor: pointer;
}

.sidenav .closebtn {
	color: black;
  	position: absolute;
  	top: 0;
  	left: 0px;
  	font-size: 36px;
  	margin-left: 20px;
}

#colorSquares {
	width: 100%;
	height: 100%;
	margin-top: -20px;
	background-color: #f0f0f0;
	display: flex;
}

.adjective {
	font-family: filson-pro, sans-serif;
	font-weight: 1000;
	font-style: normal;
	font-size: 10vw;
	word-break: break-all;
	margin: 0px auto;
	margin-top: 13%;
	margin-bottom: 13%;
	width: 100%;
}

#developer {
	width: 70%;
}

backward {
  	display: inline-block;
  	-moz-transform: scale(-1, 1);
  	-webkit-transform: scale(-1, 1);
  	transform: scale(-1, 1);
}

#designerNoBreak {
	display: none;
}

#leftSquare {
	background-color: #FCC056;
	color: #f0f0f0;
	width: 50%;
	height: 100%;
	text-align: center;
	align-content: center;
	align-items: center;
	display: inline-block;
}

#rightSquare {
	background-color: #f0f0f0;
	color: #FCC056;
	width: 50%;
	height: 100%;
	text-align: center;
	align-content: center;
	align-items: center;
	display: inline-block;
}

.title {
	font-family: filson-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 15vw;
	color: #f0f0f0;
	margin-bottom: -14vw;
}

.sectionTitle {
	font-family: filson-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2vw;
	color: black;
	margin-bottom: -20px;
}

.sectionText {
	font-family: filson-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2.5vw;
	color: #353a3e;
	opacity: 0.8;
}

#resumeButton {
	height: 9vw;
	width: 35vw;
	border: 10px solid #ededed;
	font-family: filson-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 3vw;
	color: #FCC056;
	background-color: white;
	transition: all 0.3s ease-in-out 0s;
	margin-top: 30px;
}

#resumeButton:hover {
	cursor: pointer;
	border: 10px solid #FCC056;
}

.workSection {
	display: inline-flex;
	gap: calc(4vw);
}

.workButton {
	height: 100%;
	width: calc(48vw - 70px);
	padding: 10px;
	margin-top: 5vw;
	margin-bottom: 50px;

	position: relative;
	display: block;
	
	border: 10px solid #f0f0f0;
	text-align: center;
	align-content: center;
	
	transition: all 0.3s ease-in-out 0s;
}

.workButtonTitle {
	width: 100%;

	font-family: filson-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3.5vw;
	color: #FCC056;
	text-align: center;

	transition: all 0.3s ease-in-out 0s;
}

.workButtonSubtitle {
	width: 100%;

	font-family: filson-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2.5vw;
	color: #fcd690;
	text-align: center;
	
	transition: opacity 0.3s ease-in-out 0s;
}

@media(hover: hover) and (pointer: fine) {
    .workButtonSubtitle {
		display: none;
	}
}

.workButton:hover {
	cursor: pointer;
	border: 10px solid #FCC056;
}

.workButton:hover .workButtonSubtitle {
	display: block;
}

#email {
	width: auto;
}

#emailTitle {
	font-size: 7vw;
	margin-top: 0px;
	margin-bottom: 20px;
}

.socials {
	width: 100%;
	gap: 3vw;

	display: flex;
  	justify-content: center;
}

.socialIcon {
	height: 3vw;
	width: 3vw;
	opacity: 0.7;
}

@media screen and (max-width: 850px) {
	body {
		padding: 15px;
	}
	
	section {
		margin-top: 150px;
	}
	
	.menuNav {
		display: inline-block;
	}
	
	nav {
		display: none;
		visibility:hidden;
	}
	
	#colorSquares {
		margin-top: 30px;
		display: block;
		height: auto;
	}
	
	.adjective {
		font-size: 9vw;
		width: 100%;
		text-align: center;
	}
	
	#designer {
		display: none;
	}
	
	#designerNoBreak {
		display: block;
	}
	
	#leftSquare {
		width: 100%;
		height: auto;
	}
	
	#rightSquare {
		width: 100%;
		height: 0%;
	}
	
	.sectionTitle {
		font-size: 4vw;
	}
	
	.sectionText {
		font-size: 5vw;
	}
	
	#resumeButton {
		width: 35vw;
		height: 12vw;
		font-size: 3vw;

		border: 7px solid #ededed;
	}

	.workSection {
		display: block;
	}

	.workButton {
		width: auto;
	}

	.workButtonTitle {
		font-size: 4vw;
	}

	.workButtonSubtitle {
		font-size: 3.5vw;
	}

	#emailTitle {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.socials {
		gap: 5vw;
	}

	.socialIcon {
		width: 5vw;
		height: 5vw;
	}
}

@media screen and (max-width: 500px) {
	.title {
		margin-bottom: -15vw;
	}

	#resumeButton {
		width: 40vw;
		height: 18vw;
		font-size: 4vw;

		border: 7px solid #ededed;
	}

	.sectionTitle {
		font-size: 5vw;
	}

	.sectionText {
		font-size: 6vw;
	}

	.workButtonTitle {
		font-size: 5vw;
	}

	.workButtonSubtitle {
		font-size: 4.5vw;
	}

	.socials {
		gap: 7vw;
	}

	.socialIcon {
		width: 7vw;
		height: 7vw;
	}
}

.hover {
	-webkit-user-select: none;
	-webkit-touch-callout: none;        
}