.Home {
  min-height: calc(100vh - var(--header-height));
  width: calc(100% - 100px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: 75px;
  position: relative;
  overflow: visible;
  z-index: 1;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .Home {
    min-height: calc(100vh - (var(--header-height) * 1.75));
    width: calc(100% - 50px);
    padding: 0 25px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* Add reduced motion preference support */
@media (prefers-reduced-motion) {
}
