.Copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(-0.5 * var(--header-height));
}

.Title {
  margin: 0;

  color: var(--primary-color, #110f42);
  text-align: center;
  font-family: "dm-sans", sans-serif;
  font-weight: 600;
  font-size: 4.5em;
  font-style: normal;
  line-height: 100%;
}

.Profile {
  width: 60%;

  color: var(--primary-color, #110f42);
  text-align: center;
  font-family: "dm-sans", sans-serif;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

@media only screen and (max-width: 600px) {
  .Copy {
    margin-top: calc(-1.1 * var(--header-height));
  }

  .Title {
    font-size: 5em;
  }

  .Profile {
    width: 95%;
    font-size: 1.1em;
    line-height: 1.3;
  }
}
