.sectionCard {
  height: 100%;

  margin: 0;
  padding: 0px 50px;

  border-radius: 10px;
}

.sectionCardTitle {
  width: 100%;

  margin: 0;
  padding: 0;
  padding-bottom: 18px;

  color: var(--primary-color, #110f42);
  text-align: left;
  font-size: 2em;
  font-style: normal;
  line-height: 100%;
  font-weight: 700;
}

/* Value Title */
.values {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 35px;
}

.values a {
  text-decoration: none;
}

.valueRow {
  width: 100%;

  display: flex;
  flex-direction: column;
  vertical-align: top;
  align-items: center;
  justify-content: flex-start;
}

.valueHeader {
  width: 100%;

  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
  justify-content: center;

  gap: 18px;
}

.valueCopy {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.valueTitle {
  width: 100%;

  margin: auto;

  text-align: left;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;

  color: var(--primary-color, #110f42);
}

.valueSubheader {
  margin: 0;
  margin-top: -1px;
  padding: 0px 0px 8px 0px;

  color: #949494;
  font-size: 0.95em;
  font-variant: all-small-caps;
}

.descriptionContainer {
  width: 100%;
  position: relative;
}

.valueDescription {
  width: 100%;
  margin: auto;
  padding: 10px 0px 0px 0px;
  text-align: left;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  color: var(--primary-color, #110f42);
}

.valueDescription.truncated {
  max-height: 63px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.viewMoreButton {
  background-color: transparent;
  border: none;
  color: var(--primary-color, #110f42);
  font-weight: 400;
  padding: 0px;
  cursor: pointer;
  font-size: 0.85em;
  margin-top: 8px;
  display: inline-block;
  position: relative;
}

.viewMoreButton::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color, #110f42);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

@media (hover: hover) and (pointer: fine) {
  .viewMoreButton:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .viewMoreButton:not(:hover)::after {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* Metadata */
.valueRowMetadata {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0px;
}

.valueRowMetadataHeader {
  margin: 0;
  padding: 10px 0px 0px 0px;

  color: #949494;
  font-size: 0.95em;
  font-variant: all-small-caps;
}

.metadataValues {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 8px;
}

.metadataValue {
  margin: 0;
  padding: 0;

  font-size: 1em;
  font-variant: all-small-caps;

  color: var(--primary-color, #110f42);
}

/* Grid */
.sectionCardGrid {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (hover: hover) and (pointer: fine) {
  .tappable:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(205, 205, 205, 0.25) 100%
    );
    border-radius: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .sectionCard {
    width: calc(100% - 50px);
    padding: 0px 25px;
  }

  .sectionCardTitle {
    font-size: 2em;
    padding-bottom: 24px;
  }

  .values {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .valueTitle {
    font-size: 1.25em;
  }

  .valueSubheader {
    font-size: 1em;
  }
}
