html {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;
  height: auto;

  overflow-x: hidden;
  overscroll-behavior: none;

  background-color: white;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "dm-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Variables */
html {
  --header-height: 120px;
  --primary-color: #08081d;

  /* Font Scale Variables */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;

  /* Font Weight Variables */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

/* Hide Scrollbar */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
